@import "normalize.css";

body {
  overflow-x: hidden;
}

.hero a {
  color: #00d1b2 !important;
}

.logo-heading a {
  color: #fff !important;
}

.sidebar-menu {
  width: 318px;
}

@media screen and (max-width: 1383px) {
  .sidebar-menu {
    width: 270px;
  }
}

@media screen and (max-width: 1191px) {
  .sidebar-menu {
    width: 222px;
  }
}

.scrollaffix-sidebar {
  width: 204px;
  font-size: 14px;
}

@media screen and (max-width: 1383px) {
  .scrollaffix-sidebar {
    width: 170px;
  }
}

@media screen and (max-width: 1191px) {
  .scrollaffix-sidebar {
    width: 140px;
    font-size: 12px;
  }
}

.scrollaffix-sidebar .card-content {
  padding: 15px;
}
